# Node
node_modules/

# Builds
/dist/
/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*
!.env.example

# Editor
.vscode/
.idea/
*.swp
.DS_Store

# Local
*.local

# Vite
vite.svg

# Coverage
coverage/

# Firebase service account keys
functions/service-account-key.json
**/service-account-key.json

# Misc
*.log
*.tmp
